<!DOCTYPE html>
<head>
    <title>ECE1779 Assignment Three</title>
    <link rel="stylesheet" type="text/css" href='https://statis-store-a3.s3.amazonaws.com/core-style.css' />
</head>
<html>
    <body>
        {% include "sidebar.html" %}
        <div class="image-bg">
        <div class="modal">
            <form
                method="post"
                onsubmit="return validateForm()"
                enctype=multipart/form-data>
                
                <h1 class="form-title">Upload Image</h1>

                <label for="key">Image Tag:</label>
                <input type="text" id="key" name="key" class="type-select"><br/>

                <div>
                    <input
                        class="radio-button"
                        type="radio"
                        id="url"
                        name="drone"
                        value="url" checked onclick="showURL()">
                    <label for="url">Insert URL</label>
                </div>

                <div>
                    <input
                        class="radio-button"
                        type="radio"
                        id="upload"
                        name="drone"
                        value="upload" onclick="showFile()">
                    <label for="upload">Upload File</label>
                </div>

                <div id="wrapper" style="height: 40px; padding-top:10px">
                    <div id="img_url_wrapper" style=" visibility: visible; height:0px">
                        <input type="text" id="img_url" name="img_url" class="type-select">
                    </div>
                    <div id="img_file_wrapper" style=" visibility: hidden; height:0px;">
                        <input type="file" id="img_file" class="submit-button" accept="image/*" name="file"/>
                    </div>
                </div>
                <div class="modal-inner-wrapper">
                    <input type="submit" id="submit" class="submit-button" value="Submit New Key-Image Pair">
                    <div>
                        {% if save_status is defined %}
                            {% if save_status == "OK" %}
                                <h4 style="text-align: center; color: green">Image Successfully Added</h4>
                            {% elif save_status == "FAILURE" %}
                                <h4 style="text-align: center; color: rgb(172, 16, 16)">Database Failure - Image Not Added</h4>
                            {% else %}
                                <h4 style="text-align: center; color: rgb(172, 16, 16)">Invalid Image - Image Not Added</h4>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        </div>

        <script>
            function validateForm() {
                image_exists = document.getElementById("img_url").value !== "" || document.getElementById("img_file").value !== "";
                key_exists = document.getElementById("key").value !== "";
                return image_exists && key_exists;
            }

            function showURL() {
                document.getElementById("img_url_wrapper").style.visibility="visible";
                document.getElementById("img_file_wrapper").style.visibility="hidden";
                document.getElementById("img_file").value = "";
            }

            function showFile() {
                document.getElementById("img_url_wrapper").style.visibility="hidden";
                document.getElementById("img_url").value = "";
                document.getElementById("img_file_wrapper").style.visibility="visible";
            }
        </script>
    <body>
</html>
