<div class="sidebar">
    <a href="/dev">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/home.svg" class="icon">
        </button>
        <span class="tooltiptext">Home</span>
        </div>
    </a>
    <a href="/dev/add_image">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/match.svg" class="icon">
        </button>
        <span class="tooltiptext">Classify Image</span>
        </div>
    </a>
    <a href="/dev/show_image">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/search_white.svg" class="icon">
        </button>
        <span class="tooltiptext">Search Image</span>
        </div>
    </a>
    <a href="/dev/show_category">
        <div class="tooltip">
        <button type="submit" class="icon-button">
            <img src="https://statis-store-a3.s3.amazonaws.com/search_category.svg" class="icon">
        </button>
        <span class="tooltiptext">Search By Category</span>
        </div>
    </a>
</div>